body {
    /*Image Background */
    background-image:url(https://swisstravelhajjomra.ch/_vercel/image?url=%2Fimages%2Fhero-slide-2.jpg&w=1536&q=100) ;
    background-size: cover;
    background-repeat: no-repeat;/*Ne pas répéter l'image en fond*/
    background-position: center; /*Centrer l'image en fond*/
    background-attachment: fixed; /*Fixer l'image en fond */

    /*Bloc contraste Background */
    .texte-contraste {
    background: rgba(255, 255, 255, 0.7);  /* Noir à 50% de transparence */
    color: black;                    /* Pour contraster */
    padding: 20px;                   /* Aère le contenu */
    border-radius: 10px;             /* Coins arrondis (optionnel) */
    max-width: 800px;                /* Largeur (optionnel) */
    margin: 20px auto;               /* Centré horizontalement */
}
#Footer-playlist {
    display: flex;
    gap: 20px;
    align-items: center;
}
.arabe{
    width:200px;
    font-size: 22px;
    font-family:"Amiri","Scheherazade";
    text-align: right;
     }
}
